{% comment %}
    Display information about the Carpentries.
{% endcomment %}

<h2>xwMOOC와 소프트웨어/데이터 카펜트리</h2>

<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.xwMOOC_site }}"><img src="{{ site.root }}/assets/img/xwMOOC.png" alt="xwMOOC 로고" /></a>
  </div>
  <div class="col-md-8">
    <a href="{{ site.xwMOOC_site }}">엑스더블유 무크(xwMOOC)</a>는 2014년부터 "정보불평등 해소", "The future is here, it’s just not evenly distributed yet", "기계와의 경쟁을 준비하는 한국인",  "금수저, 은수저 슈퍼파워를 받은 사람과 기계학습을 통달한 흑수저들간의 무한경쟁이 드뎌 시작되었다"와 같이 급변하는 한국사회에 열정만 가지면 (돈과 시간에 구애받지 않고 누구나 컴퓨팅 사고력을 학습하여) 원하는 바를 이를 수 있도록 시작하였다. 처음 시작은 컴퓨터 과학 언플러그드로 시작되었으나, 인공지능과 슈퍼컴퓨터로 그 영역을 확대하여 나가고 있다.
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.swc_site }}"><img src="{{ site.root }}/assets/img/swc-icon-blue.svg" alt="Software Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    <a href="{{ site.swc_site }}">소프트웨어 카펜트리(Software Carpentry)</a>는 1998년부터 
    과학, 공학, 의학을 비롯한 연관 학문분야에 종사하고 계신 분들이
    더적은 고통으로, 더 적은 시간으로 저녁이 있는 삶을 가능하게 끔하는 
    컴퓨팅 기술을 전수하고 있다.
    지난 2년 반동안 자원봉사 강사들이 수백회의 워크샵을 통해 수천명의 워크샵 참여자를 교육시켰다.
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.dc_site }}"><img src="{{ site.root }}/assets/img/dc-icon-black.svg" alt="Data Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    <a href="{{ site.dc_site }}">데이터 카펜트리(Data Carpentry)</a>는 다양한 과학연구를 수행하는데 필요한 
    기본 데이터 기술을 배양하고 이를 워크샵을 통해 가르치고 있다.
    주된 교육대상은 예전에 전혀 컴퓨팅 경험이 없는 연구자로 학습교재는 연구분야에 초점을 맞춰지고, 학습참여자의 기존 지식위에 정말 빠르게 컴퓨팅 기술을 익힐 수 있도록 하여 본연의 연구활동을 더욱 
    활발히 하는데 목적이 있다.
  </div>
</div>


